html, body {
	height: 100%;
	width: 100%;;
	margin: 0;
	padding: 0;
}

#map {
	z-index: 1;
	height: 100%;
	width: 100%;
}

#details {
	z-index : 99;
	position : absolute;
	top : 30px;
	left : 45px;
	background : #ffffff;
	padding : 20px 20px 15px 20px;
	width : 300px;
	border: 1px solid gray;
	border-radius: 10px;
}

#footer {
	z-index: 98;
	position : absolute;
	bottom: 1px;
	left : 45px;
	padding : 0px;
	width : 175px;
	text-align: center;
	font-size: 16px;
}

img {
	display: block;
    margin-left: auto;
    margin-right: auto }
}

h1 {
	text-align: center;
	padding-bottom: 8px;
}

#prompt {
	padding-top: 15px;
}

.inline {
	display: inline;
	padding: 10px 0px 10px 0px;
	vertical-align: middle;	
}

#hints {
	padding: 10px 8px 10px 8px;
	margin-top: 15px;
	margin-bottom: 2px;
}

h3 {
	padding-top: 5px;
	margin-top: 5px;
}

#gameProgress {
	border-radius: 5px;
	margin-top: 10px;
	padding: 2px;
}

#hint, #playerScore, #playerName {
	padding-left: 5px;
}

#nameAlert {
	padding: 3px;
	margin: 10px 0 2px 0;
	display: none;
}

.typing {
	opacity : 0.7;
}




