html, body {
	height: 100%;
	width: 100%;;
	margin: 0;
	padding: 0;
}

#map {
	z-index: 1;
	height: 100%;
	width: 100%;
}

#details {
	z-index : 99;
	position : absolute;
	top : 25px;
	left : 45px;
	background : #ffffff;
	padding : 5px 20px 15px 20px;
	width : 250px;
}

#footer {
	z-index: 98;
	position : absolute;
	bottom: 1px;
	left : 25px;
	padding : 0px;
	width : 175px;
	text-align: center;
	font-size: 16px;
}

h1 {
	text-align: center;
	border-bottom: 1px solid black;
	padding-bottom: 2px;
}

#prompt {
	padding-top: 15px;
}

.inline {
	display: inline;
	padding: 10px 5px 10px 0px;
}

#hints {
	border: 1px solid #B0B0B0;
	background-color: #F8F8F8;
	padding: 10px 8px 10px 8px;
	margin-top: 10px;
	margin-bottom: 10px;
}
